<main>


    <div class="container"><h1>Template Form</h1></div>
<br>

<form autocomplete="off" (ngSubmit)="saveForm(miForm)" #miForm="ngForm">

    <div class="container">

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input minlength="3" class="form-control" type="text" name="name" placeholder="Escribe tu nombre"
                    [class.is-invalid]="name.invalid && name.touched"
                    [class.is-valid]="!name.invalid  && name.touched" required [ngModel]="name_" #name="ngModel">
                    <small *ngIf="name.invalid && name.touched" class="form-text text-danger">El apellido debe tener al menos 3 letras</small>
            </div>
            
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <input minlength="3" class="form-control" type="text" name="lastname" placeholder="Escribe tu apellido"
                    [ngModel]="lastname_" [class.is-invalid]="lastname.invalid  && lastname.touched"
                    [class.is-valid]="lastname.valid  && lastname.touched" #lastname="ngModel" required>
                    <small *ngIf="lastname.invalid && lastname.touched" class="form-text text-danger">El nombre debe tener al menos 3 letras</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Edad</label>
            <div class="col-8">
                <input minlength="1" class="form-control" type="number" pattern="[0-9]+" name="age" placeholder="Escribe tu nombre"
                    [class.is-invalid]="age.invalid && age.touched"
                    [class.is-valid]="!age.invalid  && age.touched"  [ngModel]="age_" #age="ngModel">
                    <small *ngIf="age.invalid && age.touched" class="form-text text-danger">Este campo solo admite números</small>
            </div>
            
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Email</label>
            <div class="col-8">
                <input minlength="2" class="form-control" type="email" name="email" placeholder="Escribe tu email" [ngModel]="email_"
                    [class.is-invalid]="email.invalid  && email.touched"
                    [class.is-valid]="email.valid  && email.touched" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                     #email="ngModel" required>
                     <small *ngIf="email.invalid && email.touched" class="form-text text-danger">El email debe de ser válido</small>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-2 col-form-label">City</label>
            <div class="col-8">
                <input minlength="2" class="form-control" type="text" name="city" placeholder="Escribe tu nombre"
                    [class.is-invalid]="city.invalid && city.touched"
                    [class.is-valid]="!city.invalid  && city.touched"  [ngModel]="city_" #city="ngModel">
                    <small *ngIf="city.invalid && city.touched" class="form-text text-danger">El apellido debe tener al menos 3 letras</small>
            </div>
            
        </div>



        <div class="form-group row">
            <button class="btn btn-block btn-primary" type="submit">Enviar</button>
        </div>

    </div>
</form>

<div class="container">

    <ul class="list-group" *ngIf="miForm.status !== 'INVALID' && send">
    <li class="list-group-item bg-info text-white">Datos del formulario</li>
    <li class="list-group-item">Nombre: {{name_}}</li>
    <li class="list-group-item">Apellido: {{lastname_}}</li>
    <li class="list-group-item">Edad: {{age_}}</li>
    <li class="list-group-item">Email: {{email_}}</li>
    <li class="list-group-item">City: {{city_}}</li>

  </ul>
</div>

</main>